:root {
    --white-color: #ffffff;
    --side-bar-color: #2c2e3f;
    --dark-main-color: #424d58;
    --body-color: #343A3F;
}

#theme-toggle {
    width: 2rem;
    height: 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: rgba(226, 232, 240, 0);
    background-color: #05668d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
}

.dark-theme {
    color: var(--first-color);
    background-color: var(--body-color);
}

.dark-theme .l-navbar {
    color: var(--white-color);
    background-color: var(--first-color);
}

.dark-theme .header,
.dark-theme .card,
.dark-theme .table,
.dark-theme .table-active,
.dark-theme #myChart {
    color: var(--white-color);
    background-color: var(--dark-main-color);
}

.dark-theme .apexcharts-menu-item {
    color: var(--dark);
}

.dark-theme .apexcharts-canvas .apexcharts-text.apexcharts-xaxis-label,
.dark-theme .apexcharts-canvas .apexcharts-text.apexcharts-yaxis-label,
.dark-theme .apexcharts-canvas .apexcharts-title-text {
    fill: var(--white-color);
}

.dark-theme .apexcharts-canvas .apexcharts-legend-text {
    color: var(--white-color) !important;
}

.dark-theme .l-navbar {
    background-color: var(--dark-main-color);
}

.dark-theme .apexcharts-tooltip-title {
    color: var(--white-color) !important;
    background-color: var(--side-bar-color) !important;
}

.dark-theme .apexcharts-tooltip {
    color: var(--white-color);
    background: rgba(30, 30, 30, 0.8) !important;
}
