:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #3A444E;
    --first-color-light: #8391a2;
    --white-color: #f9f9f9;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --dark: #4b4b48;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

#theme-toggle {
    color: var(--white-color);
}

.card {
    border-radius: 0.25rem !important;
}

/*background image for login page*/
body.authentication-bg {
    background-image: url("/public/images/bg-pattern-light.svg");
    background-size: cover;
    background-position: top center;
}

/*end*/

a {
    text-decoration: none !important;
}

.dropdown {
    z-index: 1;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle {
    color: var(--first-color-light);
    font-size: 1.5rem;
    cursor: pointer;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo, .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1.5rem;
    padding: .5rem 0 .5rem 1rem;
    color: var(--dark);
}

.nav_logo {
    margin-bottom: 1.6rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    padding-left: 0.3rem !important;
    color: var(--white-color);
}

.nav_name {
    font-size: 1rem;
}

.nav_logo-name {
    font-size: 23px;
    color: var(--white-color);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem;
}

.show-nav {
    left: 0;
}

.main-content {
    padding-top: 5.5rem;
    /*padding-left: 1rem;*/
}

.body-padding {
    padding-left: 4rem !important;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 2rem);
    padding-right: 0.6rem;
}

.active {
    color: var(--white-color)
}

.active::before {
    /*content: '';*/
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    color: #0e1726;
    background: var(--white-color);
}

.nav_icon {
    line-height: 30px !important;
    background: #3a3f48;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 8px;
}

.dropdown-menu {
    border: 0 !important;
    border-radius: 3px !important;
}

.height-100 {
    height: 100vh;
}

.dropdown-menu {
    min-width: 4rem !important;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        /*padding-left: calc(var(--nav-width) + 2rem)*/
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 0.5rem)
    }

    .l-navbar {
        left: 0;
        padding: 0.3rem 1rem 0 0
    }

    .show-nav {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 165px)
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .main-content {
        padding-left: 0 !important;
    }

    .body-pd {
        padding-left: calc(var(--nav-width));
        padding-right: 0;
    }

    .body-pd .header_toggle {
        padding-left: 0.5rem;
    }

    .body-padding {
        padding-left: 0 !important;
    }
}

/*badge*/
.badge {
    line-height: 1.4 !important;
    padding: 3px 6px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    border-radius: 0.25rem !important;
}

.badge-pills {
    border-radius: 30px !important;
}

.badge-primary {
    background-color: var(--primary) !important;
}

.badge-info {
    background-color: var(--info) !important;
}

.badge-success {
    background-color: var(--success) !important;
}

.badge-warning {
    background-color: var(--warning) !important;
}

.badge-danger {
    background-color: var(--danger) !important;
}

.badge-secondary {
    background-color: var(--secondary) !important;
}

.badge-dark {
    background-color: var(--dark) !important;
}
